* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mapa {
    margin: 10px auto;
    position: relative;

    width: 450px;
    height: 400px;
    border: 3px solid sandybrown;
}

.caixa {
    width: 40px;
    height: 40px;
    background-color: blueviolet;

    top: 10px;
    left: 20px;
}

.obstaculo {
    background-color: rgb(49, 58, 34);
}

.personagem {
    background-color: blueviolet;
}

.pos-abs {
    position: absolute;
}