* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mapa {
    margin: 10px auto;
    position: relative;

    width: 804px;
    height: 604px;
    border: 2px solid sandybrown;

    display: flex;
    flex-wrap: wrap;
}

.bloco {
    width: 20px;
    height: 20px;
    background-color: transparent;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}

.parede {
    background-color: black;
    color: white;
}

.personagem {
    background-color: blue;
}

.pedra {
    background-color: rgb(235, 199, 99);
    border-radius: 50%;
}

.mato {
    background-color: rgb(84, 151, 67);
}

.obstaculo {
    background-color: rgb(49, 58, 34);
}

.pedra-caindo {
    /* Nome, Duração, Curva de Aceleração e Comportamento Final */
    animation: gravidade 2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards;
}

.personagem {
    background-color: blueviolet;
}

.pos-abs {
    position: absolute;
}

@keyframes gravidade {
    0% {
        transform: translateY(0);
    }

    100% {
        /* Para no chão */
        transform: translateY(500px);
    }
}